# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
notes.txt
src/App Kopie.js
src/components/Board Kopie.js
src/components/Square Kopie.js
src/components/Square.js
src/sounds/capture.webm
src/sounds/castle.webm
src/sounds/illegal.webm
src/sounds/move-opponent.webm
src/sounds/move-self.mp3
src/sounds/move-self.webm
src/sounds/promote.webm
src/fonts/Montserrat/Montserrat-Black.ttf
src/fonts/Montserrat/Montserrat-BlackItalic.ttf
src/fonts/Montserrat/Montserrat-Bold.ttf
src/fonts/Montserrat/Montserrat-BoldItalic.ttf
src/fonts/Montserrat/Montserrat-ExtraBold.ttf
src/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf
src/fonts/Montserrat/Montserrat-ExtraLight.ttf
src/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf
src/fonts/Montserrat/Montserrat-Italic.ttf
src/fonts/Montserrat/Montserrat-Light.ttf
src/fonts/Montserrat/Montserrat-LightItalic.ttf
src/fonts/Montserrat/Montserrat-Medium.ttf
src/fonts/Montserrat/Montserrat-MediumItalic.ttf
src/fonts/Montserrat/Montserrat-Regular.ttf
src/fonts/Montserrat/Montserrat-SemiBold.ttf
src/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf
src/fonts/Montserrat/Montserrat-Thin.ttf
src/fonts/Montserrat/Montserrat-ThinItalic.ttf
src/fonts/Montserrat/OFL.txt
src/sounds/move-check.webm
