#pgn-viewer {
  width: 100%;
  background-color: #363636;
  margin-bottom: 1rem;
}

.pgn-comment {
  background-color: #3b3a39;
  padding: 0.8rem;
  margin: 1rem;
}

.pgn-move {
  display: inline-block;
  border: none;
  text-align: center;
  color: white;
  line-height: 1.5rem;
  background-color: #363636;
}

.pgn-move:hover {
  background-color: #4d4d4d;
}

.current-move {
  background-color: #49a1b9;
}

.current-move:hover {
  background-color: #49a1b9;
}
