.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#board-board {
  background-image: url("greenboard.png");
  width: 100%;
  height: 100%;
  background-size: 100%;
  position: relative;
}

.piece {
  width: 12.5%;
  height: 12.5%;
  position: absolute;
  cursor: grab;
  background-size: 100%;
}

.wp {
  background-image: url("../src/pieces/wp.png");
}

.wr {
  background-image: url("../src/pieces/wr.png");
}

.wn {
  background-image: url("../src/pieces/wn.png");
}

.wb {
  background-image: url("../src/pieces/wb.png");
}

.wk {
  background-image: url("../src/pieces/wk.png");
}

.wq {
  background-image: url("../src/pieces/wq.png");
}

.bp {
  background-image: url("../src/pieces/bp.png");
}

.br {
  background-image: url("../src/pieces/br.png");
}

.bn {
  background-image: url("../src/pieces/bn.png");
}

.bb {
  background-image: url("../src/pieces/bb.png");
}

.bk {
  background-image: url("../src/pieces/bk.png");
}

.bq {
  background-image: url("../src/pieces/bq.png");
}

.square-00 {
  transform: translate(000%, 700%);
}
.square-01 {
  transform: translate(100%, 700%);
}
.square-02 {
  transform: translate(200%, 700%);
}
.square-03 {
  transform: translate(300%, 700%);
}
.square-04 {
  transform: translate(400%, 700%);
}
.square-05 {
  transform: translate(500%, 700%);
}
.square-06 {
  transform: translate(600%, 700%);
}
.square-07 {
  transform: translate(700%, 700%);
}

.square-10 {
  transform: translate(000%, 600%);
}
.square-11 {
  transform: translate(100%, 600%);
}
.square-12 {
  transform: translate(200%, 600%);
}
.square-13 {
  transform: translate(300%, 600%);
}
.square-14 {
  transform: translate(400%, 600%);
}
.square-15 {
  transform: translate(500%, 600%);
}
.square-16 {
  transform: translate(600%, 600%);
}
.square-17 {
  transform: translate(700%, 600%);
}

.square-20 {
  transform: translate(000%, 500%);
}
.square-21 {
  transform: translate(100%, 500%);
}
.square-22 {
  transform: translate(200%, 500%);
}
.square-23 {
  transform: translate(300%, 500%);
}
.square-24 {
  transform: translate(400%, 500%);
}
.square-25 {
  transform: translate(500%, 500%);
}
.square-26 {
  transform: translate(600%, 500%);
}
.square-27 {
  transform: translate(700%, 500%);
}

.square-30 {
  transform: translate(000%, 400%);
}
.square-31 {
  transform: translate(100%, 400%);
}
.square-32 {
  transform: translate(200%, 400%);
}
.square-33 {
  transform: translate(300%, 400%);
}
.square-34 {
  transform: translate(400%, 400%);
}
.square-35 {
  transform: translate(500%, 400%);
}
.square-36 {
  transform: translate(600%, 400%);
}
.square-37 {
  transform: translate(700%, 400%);
}

.square-40 {
  transform: translate(000%, 300%);
}
.square-41 {
  transform: translate(100%, 300%);
}
.square-42 {
  transform: translate(200%, 300%);
}
.square-43 {
  transform: translate(300%, 300%);
}
.square-44 {
  transform: translate(400%, 300%);
}
.square-45 {
  transform: translate(500%, 300%);
}
.square-46 {
  transform: translate(600%, 300%);
}
.square-47 {
  transform: translate(700%, 300%);
}

.square-50 {
  transform: translate(000%, 200%);
}
.square-51 {
  transform: translate(100%, 200%);
}
.square-52 {
  transform: translate(200%, 200%);
}
.square-53 {
  transform: translate(300%, 200%);
}
.square-54 {
  transform: translate(400%, 200%);
}
.square-55 {
  transform: translate(500%, 200%);
}
.square-56 {
  transform: translate(600%, 200%);
}
.square-57 {
  transform: translate(700%, 200%);
}

.square-60 {
  transform: translate(000%, 100%);
}
.square-61 {
  transform: translate(100%, 100%);
}
.square-62 {
  transform: translate(200%, 100%);
}
.square-63 {
  transform: translate(300%, 100%);
}
.square-64 {
  transform: translate(400%, 100%);
}
.square-65 {
  transform: translate(500%, 100%);
}
.square-66 {
  transform: translate(600%, 100%);
}
.square-67 {
  transform: translate(700%, 100%);
}

.square-70 {
  transform: translate(000%, 000%);
}
.square-71 {
  transform: translate(100%, 000%);
}
.square-72 {
  transform: translate(200%, 000%);
}
.square-73 {
  transform: translate(300%, 000%);
}
.square-74 {
  transform: translate(400%, 000%);
}
.square-75 {
  transform: translate(500%, 000%);
}
.square-76 {
  transform: translate(600%, 000%);
}
.square-77 {
  transform: translate(700%, 000%);
}
